# Twitter API credentials
API_KEY=
API_SECRET=
BEARER_TOKEN=
ACCESS_TOKEN=
ACCESS_TOKEN_SECRET=

# Other API keys
FOOTBALL_DATA_API_KEY=

# User ID for twitter
USERID=

# Rename this file to .env and fill in your actual values for the variables above
